{
  "presets": ["es2015", "react"],
  "plugins": [
//    "/home/jack/Documents/projects/Personal-Blog/src/utils/babelRelayPlugin.js",
    ["relay",{"schema":"/home/jack/Documents/projects/Personal-Blog/graphql.schema.json"}],
    "transform-decorators-legacy"
  ]
}