{
  "presets": [
    "env"
  ],
  "env": {
    "production": {
      "presets": [
        "minify"
      ]
    }
  },
  "plugins": [
    "transform-decorators-legacy",
    [
      "transform-runtime",
      {
        "helpers": false,
        "polyfill": false,
        "regenerator": true
      }
    ]
  ]
}