# IDE configure file
.idea

# npm and yarn log file
yarn-error.log
npm-debug.log
yarn.lock

# log file todo

# generated Graphql Schema file
graphql.schema.json
schema.graphqls
__generated__

# installed packages
node_modules/

# build file
build