# IDE configure file
.idea

# log info
yarn-error.log
npm-debug.log
yarn.lock

# generated Graphql Schema file
graphql.schema.json
schema.graphqls
__generated__

# installed packages
node_modules/

# build file
build